<!--col-xs-12 col-sm-12 col-md-12 col-lg-12>-->
<header>
  
    <div id="div_logoAP" class="logo container-fluid">
      <img src={{miporfolio.ImageLogo}} id="logoAP">
    </div>
    
    <div id="div_social" class="social ">
      <nav>
        
        <a href="https://www.linkedin.com/in/leonardo-seivetti/"> <img src="./../assets/images/Logos_proyecto/linkedin.png" alt="linkedin"> </a>
        <a href="https://www.twitter.com/leogby_/"><img src="./../assets/images/Logos_proyecto/twitter.png" alt="twitter"> </a>
        <a href="https://www.instagram.com/dev_lgs/"><img src="./../assets/images/Logos_proyecto/instagram.png" alt="instagram"> </a>
        <a href="https://github.com/gbyleo/"><img src="./../assets/images/Logos_proyecto/github.png" alt="github"> </a>
        <a href="https://www.facebook.com/leogby/"><img src="./../assets/images/Logos_proyecto/facebook.png" alt="facebook"> </a>
        
      </nav>
    </div>
    
    <div id="div_btnlogin">
     <!--  <a routerLink="/login">LOGUEAMEEE</a>   -->
      <button id="btnlog" routerLink="/login" type="button" class="btn btn-outline-light"> Login </button>
    </div>
    
    </header>

   

    <!--contiene el banner foto y nombre del cv-->
<div id="card_acdm" class="container">
  
    <div id="div_banner" class="container">
      <img src={{miporfolio.ImageBanner}} id="banner">
      <!--Si fuese una foto en hhtp: [src]="miporfolio.nombreDeVariable" recordad en json colocaria : "http://loquesea.com" -->
      
    </div>

  
    <!--contiene la foto-->
    <div class="row container-fluid">
  
      <div id="fotoperfil_div" class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
      <!--<img src="./../assets/images/foto_cv.JPG" class="img-fluid" id="fotoperfil"> -->
      <img src={{miporfolio.image}} class="img-fluid" id="fotoperfil">
  
        <div>
          <span>
            <i id="btnacm" class="bi bi-pencil"></i>
          </span>
        </div>
      </div>
  
  
  
      <div id="id_nyp">
  
        <p id="nombre"> {{miporfolio.name}}</p>
        <p id="puesto"> {{miporfolio.position}}</p>
  
      </div>
  
    </div>
  
  </div>

<!-- <a routerLink="encabezado"="/encabezado">Encabezado FFF</a> -->
  