<!--Acerca de mi-->
<div id="card_acdm" class="card mat-card">
  
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <span>
  
        <div class="IconoTitulos ">
          <h1>Acerca de mi</h1>
          <div>
            <span>
              <i id="btnacm" class="bi bi-pencil"></i>
            </span>
          </div>
        </div>
  
  
  
  
        <p id="adm_parr"> Orientado a la resolución de problemas y el servicio al cliente,
          esto se logra haciéndolo a conciencia, con compromiso y respeto.
          Cuento con experiencia en Sistemas de mas de 6 años, referido a
          instalación y mantenimiento de software y hardware, utilización de
          sistema SAP y programas de ofimática en general.
          Tengo a su vez conocimientos básicos de lenguajes de programación C++ , .NET, ABAP y JavaScript.
          Actualmente profundizando en programación Web (Front-End).
          Buscando aprender cada día un poco más y así poder seguir
          creciendo profesionalmente.
  
        </p>
      </span>
  
    </div>
  </div>
  
  