<!--Educacion-->
<div class="card mat-card">
  <div id="div_ed" class="row">
    <div class="IconoTitulos">
      <h1>Educacion</h1>
      <div>
        <span>
          <i id="btnedu" class="bi bi-plus-lg"></i>
        </span>
      </div>
    </div>



    <div class="col-lg-12">
      <ul>
        <li *ngFor="let educacion of educacionList">

          <div class="IconoTitulos ">
            <h3> {{educacion.titulo}}</h3>
            <div>
              <span>
                <i id="btnacm" class="bi bi-pencil"></i>
                <i id="btnacm" class="bi bi-trash"></i>
              </span>
            </div>
          </div>
          <h5> {{educacion.nombre}}</h5>
          <p> {{educacion.fechaComienzo}} - {{educacion.fechaFin}}</p>
        </li>


        <li *ngFor="let educacion2 of educacionList">

          <div class="IconoTitulos">
            <h3> {{educacion2.titulo}} </h3>
            <div>
              <span>
                <i id="btnacm" class="bi bi-pencil"></i>
                <i id="btnacm" class="bi bi-trash"></i>
              </span>
            </div>
          </div>
          <h5> Universidad Abierta Interamericana</h5>
          <p> Abril 2012 - Diciembre 2014</p>
        </li>


        <li>

          <div class="IconoTitulos ">
            <h3> Tecnico Electromecanico</h3>
            <div>
              <span>
                <i id="btnacm" class="bi bi-pencil"></i>
                <i id="btnacm" class="bi bi-trash"></i>
              </span>
            </div>
          </div>
          <h5> E.E.T. N °4 Gral E. Mosconi </h5>
          <p> Marzo 2003 - Diciembre 2005</p>
        </li>
      </ul>


    </div>
  </div>
</div>
