<!--Educacion-->
<div class="card mat-card">
  <div id="div_ed" class="row">
    <div class="IconoTitulos">
      <h1>Educacion</h1>
      <div>
        <span>
          <i id="btnedu" class="bi bi-plus-lg"></i>
        </span>
      </div>
    </div>


    <div class="col-lg-12">
      <ul *ngFor="let educacion of educacionList">
        <li>
          <div class="IconoTitulos ">
            <h3> {{educacion.titulo}}</h3>
            <div>
              <span>
                <i id="btnacm" class="bi bi-pencil"></i>
                <i id="btnacm" class="bi bi-trash"></i>
              </span>
            </div>
          </div>
          <h5> {{educacion.name}}</h5>
          <p> {{educacion.comienzo}} - {{educacion.fin}}</p>
        </li>
      </ul>


    </div>
  </div>
</div>
