
 <!--Experiencia-->
 <div id="card_ees" class="card mat-card">

 
    <div id="div_exp" class="row">
      <div class="IconoTitulos">
        <h1>Experiencia Laboral</h1>
        <div>
          <span>
            <i id="btnexp" class="bi bi-plus-lg"></i>
          </span>
        </div>
      </div>
  
      <div class="col-lg-12">
        <ul>
          <li>
  
            <div class="IconoTitulos ">
              <h2> Gobbbi Novag</h2>
              <div>
                <span>
                  <i id="btnacm" class="bi bi-pencil"></i>
                  <i id="btnacm" class="bi bi-trash"></i>
                </span>
              </div>
            </div>
  
  
  
            <h4> Soporte Tecnico</h4>
            <h6> Junio 2022 - Actualidad</h6>
          </li>
          <p>
            -Seguimiento y resolicion de tickets.
            -Instalación, configuracion y mantenimiento de Hardware y Software.
            -Administracion de usuarios Active Directory.
            -Soporte remoto y presencial a usuarios con Sistemas Windows.
          </p>
        </ul>
  
  
        <ul>
          <li>
  
            <div class="IconoTitulos ">
              <h2> Klonal Laoboratorios</h2>
              <div>
                <span>
                  <i id="btnacm" class="bi bi-pencil"></i>
                  <i id="btnacm" class="bi bi-trash"></i>
                </span>
              </div>
            </div>
  
            <h4> Funcional SAP y Soporte Tecnico</h4>
            <h6> Julio 2015 - Octubre 2021 </h6>
          </li>
          <p>
            -Instalación y Mantenimiento de Hardware y Software.
            -Soporte remoto y presencial a usuarios con Sistemas Windows y Linux
            (Ubuntu). <br>
  
            - Carga y mantenimiento de información sobre sistema SAP en -maestro de
            materiales. Modulo MM. <br>
            -Soporte SAP modulo MM. <br>
            -CCTV instalación y configuración. <br>
            - Preparación de informes y análisis de costos sobre Sistema SAP modulo
            CO, en conjunto con Sector de costos <br>
          </p>
        </ul>
  
  
  
        <ul>
          <li>
  
            <div class="IconoTitulos ">
              <h2> Klonal Laboratorios</h2>
              <div>
                <span>
                  <i id="btnacm" class="bi bi-pencil"></i>
                  <i id="btnacm" class="bi bi-trash"></i>
                </span>
              </div>
            </div>
  
            <h4> Planificador de producción </h4>
            <h6> Enero 2011 - Junio 2015</h6>
          </li>
          <p>
            -Planificación de la producción en base a Forecast. <br>
            -Uso de sistema SAP PRD (maestro de materiales, altas/bajas/modificaciones
            de listas, recetas y estructuras en MM en sistema SAP).<br>
            -Coordinación y planificación de análisis de insumos con sector control de
            calidad.<br>
            -Coordinación y planificación de compras de insumos con sector de Compras.<br>
            -Contacto directo respondiendo a la Gerencia General.<br>
            -Generación de informes y tareas varias.<br>
  
          </p>
        </ul>
  
  
  
        <ul>
          <li>
            <div class="IconoTitulos ">
              <h2> Klonal Laboratorios</h2>
              <div>
                <span>
                  <i id="btnacm" class="bi bi-pencil"></i>
                  <i id="btnacm" class="bi bi-trash"></i>
  
                </span>
              </div>
            </div>
            <h4> Aseguramiento de calidad </h4>
            <h6> septiembre de 2009 - diciembre de 2010</h6>
          </li>
          <p>
            -Escritura de procedimientos normalizados.
            -Emisión, seguimiento y archivo de registros de manufactura.
            -Corrección de Documentación técnica/farmacéutica.
            -Tareas Administrativas varias
  
          </p>
        </ul>
  
  
        <ul>
          <li>
            <div class="IconoTitulos ">
              <h2> Klonal Laboratorios</h2>
              <div>
                <span>
                  <i id="btnacm" class="bi bi-pencil"></i>
                  <i id="btnacm" class="bi bi-trash"></i>
                </span>
              </div>
            </div>
            <h4> Data Entry</h4>
            <h6> Abril 2009 - Septiembre 2009 </h6>
          </li>
          <p>
            -Carga de datos para sistema SAP.
            -Análisis y reordenamiento de Información.
            -Documentación de tareas.
            -Utilización de planillas de cálculos.
  
          </p>
        </ul>
  
  
  
      </div>
    </div>
  </div>
  