<!--Soft & Hard Skills-->
<div class="card mat-card">
    <div id="div_shs" class="row">
      <div class="IconoTitulos">
        <h1>Soft & Hard Skills <br></h1>
  
  
        <div>
          <span>
            <i id="btnedu" class="bi bi-plus-lg"></i>
          </span>
        </div>
      </div>
  
  
  
      <!-- ******** idiomas -------------->
      <ul>
        <div class="IconoTitulos">
          <h2>Idiomas</h2>
  
        </div>
      </ul>
  
  
  
  
      <div class="col-lg-12">
        <ul>
          <br>
          <li>
  
            <div class="IconoTitulos ">
              <h3>Ingles</h3><br>
              <div>
                <span>
                  <i id="btnacm" class="bi bi-pencil"></i>
                  <i id="btnacm" class="bi bi-trash"></i>
                </span>
              </div>
            </div>
            <h5>Intermedio</h5>
            <br>
          </li>
  
  
  
          <li>
  
            <div class="IconoTitulos ">
              <h3>Italiano</h3>
              <div>
                <span>
                  <i id="btnacm" class="bi bi-pencil"></i>
                  <i id="btnacm" class="bi bi-trash"></i>
                </span>
              </div>
            </div>
            <h5>Basico</h5>
          </li>
  
        </ul>
  
        <br>
  
        <!-- ******** INFORMATICA -------------->
  
        <div class="IconoTitulos">
          <h2>Informatica</h2>
  
        </div>
  
  
        <div class="col-lg-12">
          <ul>
            <br>
            <li>
  
              <div class="IconoTitulos">
                <h3>Desarrollo web - Quilmes Programa </h3><br>
                <div>
                  <span>
                    <i id="btnacm" class="bi bi-pencil"></i>
                    <i id="btnacm" class="bi bi-trash"></i>
                  </span>
                </div>
              </div>
              <h5>Javascript-Ruby</h5>
              <br>
            </li>
  
  
  
            <li>
  
              <div class="IconoTitulos">
                <h3>Diplomatura en ABAP - UTN</h3>
                <div>
                  <span>
                    <i id="btnacm" class="bi bi-pencil"></i>
                    <i id="btnacm" class="bi bi-trash"></i>
                  </span>
                </div>
              </div>
              <h5>Desarrollo de interfaces, Bapis, extensiones y batch imputs</h5>
            </li>
          </ul>
        </div>
        <br>
  
        <!-- ******** SOFT SKILLS -------------->
  
        <div class="IconoTitulos">
          <h2>Soft Skils</h2>
  
        </div>
  
  
        <div class="col-lg-12">
          <ul>
            <br>
            <li>
  
              <div class="IconoTitulos ">
                <h3>Liderazgo </h3><br>
                <div>
                  <span>
                    <i id="btnacm" class="bi bi-pencil"></i>
                    <i id="btnacm" class="bi bi-trash"></i>
                  </span>
                </div>
              </div>
              <h5>Seminario - Educacion IT</h5>
              <br>
            </li>
          </ul>
        </div>
  
      </div>
  
    </div>
  </div>
  